/*@font-face {
    font-family: 'myFont'; 
    src: url('./assets/font/PingFangSC-1.ttf');
    font-weight: normal;
    font-style: normal;
  }*/
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin:0;padding:0;
  /*font-family: "PingFang SC",myFont,"Microsoft YaHei";*/
  font-family: "PingFang SC","Microsoft YaHei";
}
html,body,ul,div,textarea,input,span,p,tr,td,table{
	box-sizing: border-box;
}
body{
	background: #fff;
}
.modal_shelter{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 2000;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	display: none;
}
/*enlarge*/
.box{
	display: none;
	width:100%;
	background:rgba(0, 0, 0, 0.5);  
	position:fixed; 
	left:0;
	top:0;
	z-index:10000;}
.box.btn-ioc-left {
	position:absolute;
	left:0.3rem;
	top:0.2rem;
	width:0.5rem;
	height:0.5rem;
	z-index:10010;}
.box .btn-ioc-left .icon-left{
	font-size:.95rem;
	color:#fff;}
.pinch-zoom{
	position:receiver;
	width:100%; 
	height:100%;}
.pinch-zoom img{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
/*enlarge end*/