.grey{
	background: #f7f7f7;
}
.item{
	background:#fff;
	height:4rem;
	position: relative;
	overflow: hidden;
	margin-bottom:.26rem;
}
.item img{
	border-radius:.3rem;
	position: absolute;
	top:.8rem;
	left:.8rem;
	width:4.3rem;
	height:2.5rem;
}
.item>div:nth-child(2){
	font-size:.7rem;
	color:#333;
	margin-left:3.2rem;
	margin-top:.33rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 6rem;
    margin-top: .68rem;
}
.item>div:nth-child(3){
	color:#999;
	font-size: .6rem;
	position: absolute;
	top:2.5rem;
	left:6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:63%;
}
.head{
	display: flex;
	display: -webkit-flex;
	background: #fff;
	height: 2.2rem;
	line-height: 2.2rem;
	margin-bottom:.5rem;
}
.head>div{
	position: relative;
	width:20%;
	color:#333;
	font-size: .8rem;
	text-align: center;
	border-bottom:1px solid #eee;
}
.head>div.on{
	color:#278DFF;
	border-bottom: 2px solid #278DFF;
}
.head>div:nth-child(-n+4):after{
	content: '';
    position: absolute;
    right: 0;
    top: 0.63rem;
    height: 1rem;
    width: 1px;
    display: block;
    border-right: 1px solid #e6e6e6;
    z-index: 15;
}
.subtitle{
	height:2.1rem;
	line-height: 2.1rem;
	position: relative;
	padding-left:1.5rem;
	color:#278dff;
	font-size:.7rem;
	border-bottom:1px solid #ddd;
	letter-spacing: .03rem;
	background:#fff;
}
.subtitle>div:nth-child(3){
	position: absolute;
	right:1rem;
	top:0;
}
.subtitle>div:nth-child(3) span{
	font-family: "simHei";
	padding-left:.2rem;
}
.shuxian{
	position: absolute;
	top:.68rem;
	left:1.08rem;
	height:.55rem;
	background:#278dff;
	width:.1rem;
}
.subcontent .item{
	border-bottom:1px solid #ddd;
	margin-bottom:0;
}
.subcontent{
	margin-bottom:.3rem;
}