body{
	background: #f7f7f7;
}
.search{
	height:4rem;
}
.list{
	background: #fff;
	padding-left:.6rem;
	padding-right:.6rem;
}
.list>div{
	height:2.2rem;
	line-height: 2.2rem;
	color:#333;
	font-size:.8rem;
	border-bottom:2px solid #f7f7f7;
}
/*搜索*/
.search_div{
	display: flex;
    display: -webkit-flex;
    height:3.2rem;
    padding-top:.8rem;
}
.search0{
	border-radius: 1.5rem;
	display: flex;
    display: -webkit-flex;
	margin-left: .8rem;
    height: 1.75rem;
    background-color: #fff;
    position: relative;
    width:15rem;
    box-shadow: inset 1px 1px 3px 1px #ddd;
}
.input_class2{
	width: 11.2rem;
    height: 80%;
    border-radius: .35rem;
    border: none;
    font-size:.7rem;
    margin-top: .24rem;
    outline: none;
}
.search_img{
	display: inline-block;
}
.search_img img{
	margin-left: .7rem;
    margin-right: .3rem;
    width: .75rem;
    height: .75rem;
    display: inline-block;
    margin-top: 0.55rem;
}
.search_delete{
	display: inline-block;
}
.search_delete img{
	margin-right:.4rem;
	margin-left:.4rem;
	width:.75rem;
	height:.75rem;
	display: inline-block;
    margin-top: .55rem;
}
.search_btn{
	padding-right: .3rem;
	width:3.5rem;
	text-align: center;
	color:#2D9FF1;
	font-size: .8rem;
	padding-top:.25rem;
	font-weight: 500;
}
input::-webkit-input-placeholder {
	color: #999;
}

/*search_doctor*/
.doctors{
	background: #fff;
}
.doctor{
	height:5.5rem;
	border-bottom:1px solid #eee;
	position: relative;
	overflow: hidden;
}
.doctor img{
	position: absolute;
	top:1.15rem;
	left:1.2rem;
	width:2.8rem;
	height:2.8rem;
	border-radius: 50%;
}
.name{
	font-weight: bold;
	color:#333;
	margin-left:5rem;
	margin-top:.9rem;
}
.name span:nth-child(1){
	font-size:.8rem;
	padding-right:.4rem;
}
.name span:nth-child(2){
	font-size:.65rem;
}
.section{
	color:#278DFF;
	font-size: .7rem;
	margin-left:5rem;
}
.goodat{
	margin-left:5rem;
	margin-right:1rem;
	margin-top:.1rem;
	font-size:.65rem;
	color:#999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}